.footer{
    background: rgba(48, 48, 48, 0.411);
    width: 100%;
}



.b{
    background-color: rgba(0, 0, 0, 0.0);
}

.fb{
    background-color: #54456b;
}

.yt{
    background-color: #54456b;
}

.ig{
    background-color: #54456b;
}

.tw{
    background-color: #54456b;
}